/* Title */
.title{
  font-family: 'Cookie', cursive;
  font-size: 600%
}
.aboutme{
  font-family: 'Cabin Sketch', cursive;
}
.body{
  /*Background*/ 
  background-image: url("https://cdn02.plentymarkets.com/2brofzsczyt8/item/images/154170/full/Tapete-AS-Creation-Holz-Optik-weiss-grau-94055-3-1.jpg");
}
