/* Title */
/*variables*/

.title{
  font-family: 'Cookie', cursive;
  text-shadow: 10px 10px pink;
  font-size: 140pt 
  
}


.aboutme{
  font-family: 'Cabin Sketch', cursive;
  font-size: 70pt
  
}
.body{
  /*Background*/ 
  background-image: url("https://cdn02.plentymarkets.com/2brofzsczyt8/item/images/154170/full/Tapete-AS-Creation-Holz-Optik-weiss-grau-94055-3-1.jpg");
}
